.search{
    -webkit-appearance: none;
    border:none;
    outline: none;
    padding: 10px;
    width: 250px;
    line-height: 30px;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 700;
}